<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.sample.fchat" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.app.sample.fchat.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.NotificationService"
            android:label="Poll Messages"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="true">

        </service>
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.app.sample.fchat.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fchat.firebase.google.com"
                    android:pathPrefix="/message"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.sample.fchat.activity.ChatActivity"
            android:parentActivityName=".activity.MainActivity"
            android:label="List" >
        </activity>
        <activity
            android:name="com.app.sample.fchat.activity.SelectFriendActivity"
            android:parentActivityName=".activity.MainActivity"
            android:label="Select Friend" >
        </activity>
    </application>

</manifest>
